@font-face {
     font-family:Franklin;
     src: url(Fonts/LibreFranklin-Regular.ttf);
 }
@font-face {
     font-family:Postoni;
     src: url(Fonts/Postoni.ttf);
 }
 body{
    line-height: 1.6;
    font-family: Georgia, 'Times New Roman', serif;
    font-size: 1.25rem;
    color:#2a2a2a;
    padding-bottom:24px;
}
 h1,h2,h3,h4{
    margin:0;
    font-family: Postoni,garamond,serif;
 }
h1{   
    display:block; 
    width: 100%;
    line-height: 1.1; 
    margin-top:0;
    font-size: 3.5rem;
}
h2{
    line-height:40px;
    font-size: 32px;
    font-weight:700;
}
h3{
    line-height:30px;
    font-size: 24px;
    font-weight:700; 
}
a{
    border-bottom: 1px solid #d5d5d5;
    text-decoration: none;
    color: #1955a5;
    cursor: pointer;
}
.a-italic a{
    font-style: italic;
}
figure{
    margin-left:0;
    margin-bottom:10;
    background-size: cover;
}
figcaption{
    margin: 0;
    line-height: 1.25;
    font-size: 14px;
    font-family: Franklin,arial,sans-serif;  
}  
.container{
    width: 985.344;
    height: 16326;
    padding: 0 8vw;
    margin-top: 24;
    margin-right:32;
    margin-bottom:64;
    margin-left:0;
}
.header{
    display:block;
    box-sizing: border-box;
    flex-direction: column;
    border-bottom-color:rgb(233, 233, 233);
    border-bottom-style:solid;
    border-bottom-width:1px;
    border-top-color:rgb(233, 233, 233);
    border-top-style:solid;
    border-top-width:1px;
    margin-top:20px;
}
.link{
    line-height: 20px;
    font-weight:700;
    border-bottom: none;
    font-size: 16px;
    color: #000;
    font-family: Franklin,Arial,Helvetica,sans-serif;
    text-decoration: none;
}
.subhead{
    line-height: 1.25;
    font-weight: 300;
    font-family: Franklin,arial,sans-serif;
    color:#666;
}
.headphones{
    float:left;
    margin-top: 0;
    margin-bottom: 0;
    margin-right:5px;
    height:30px;
    width:30px;
}
.content{
    width: 66%;
    max-width: 66%;
    width: 617.312;
    height: 15860;
    padding-top:32px;
    padding-right: 32px;
    margin-right: 32px;
    border-right-color:rgb(233, 233, 233);
    border-right-style:solid;
    border-right-width:1px;
}
.image1{
    width:916px;
    height:611px;
}
.author{
    font-size: 1rem;
    text-decoration: none;
    color: #2a2a2a;
    cursor: pointer;
}
.datetime{
    line-height:17.5px;
    color:rgb(102, 102, 102);
    font-family:Franklin,arial,sans-serif;
    font-size:14px;
}
.introducing{
    display:block;
   
    cursor: pointer;
    margin-right:8px;
    border-bottom-color:rgb(233, 233, 233);
    border-bottom-style:solid;
    border-bottom-width:1px;
    border-top-color:rgb(233, 233, 233);
    border-top-style:solid;
    border-top-width:1px;
    padding-top:16px;
    padding-bottom:16px;
    text-decoration: none;
    color:rgb(17, 17, 17);
    font-weight:700px;
    font-size:16px;
    font-family: Franklin, Arial, Helvetica, sans-serif;
}
.arrow{
    float:right;
    margin-top:0;
}
.introducing:hover{
    color: rgb(61, 115, 213);
}
.advertisement{
    border-bottom-color:rgb(233, 233, 233);
    border-bottom-style:solid;
    border-bottom-width:1px;
    border-top-color:rgb(233, 233, 233);
    border-top-style:solid;
    border-top-width:1px;
    padding-top:70px;
    padding-bottom:70px;
    text-align: center;
}
.footer{
    padding:32px;
    width: 551.312;
    height: 665;
    border-style:solid;
    border-radius:4px;
    border-color:rgb(233,233,233);
    border-width:1px;
    font-size:1.125rem;
    line-height:1.5;
    font-family: Franklin, Arial, Helvetica,sans-serif;
}
footer a{
    border-bottom:none;
}
.bold-a{
    line-height:27px;
    color:rgb(25, 85, 165);
    font-weight:bolder;
}
.item{
    color:rgb(42, 42, 42);
    font-weight: bolder;
}
.diana{
    font-style:italic;
}